<?xml version="1.0" encoding="UTF-8"?>
<config>
    <projects>
        <project>Z:/Users/che4ve/MAI/Лабы/Лаба 6/TuringDiagrams/Laba6_Filippov.jdtp</project>
        <project>Z:/Users/che4ve/MAI/Лабы/Лаба 6/Laba6.jdtp</project>
        <project>C:/Users/evgen/Desktop/Диаграммер/bebra.jdtp</project>
        <project>C:/Users/evgen/Desktop/Диаграммер/000000.jdtp</project>
        <project>C:/Users/evgen/Desktop/Диаграммер/lab6 №11.jdtp</project>
        <project>D:/download/Shrek.jdtp</project>
        <project>D:/download/MyProject (1).jdtp</project>
        <project>d:/download/MyProject (1).jdtp</project>
        <project>d:/download/MyProject.jdtp</project>
        <project>D:/Учёба/Лабы/Shrek.jdtp</project>
    </projects>
</config>
